<h1 mat-dialog-title>Add Form</h1>
<div mat-dialog-content>
   <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Name </mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label> City </mat-label>
      <mat-select formControlName="city" placeholder="Select">
          <mat-option value="Islamabad">Islamabad</mat-option>
          <mat-option value="Rawalpindi">Rawalpindi</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose the Date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

   <label for="">
      <h2>Product</h2>
   </label>
   <mat-radio-group formControlName="product" class="example-radio-group">
      <mat-radio-button  class="example-radio-button" *ngFor="let product of productList" [value]="product">
          {{product}}
      </mat-radio-button>
   </mat-radio-group>

   <mat-form-field appearance="fill">
    <mat-label>Price </mat-label>
    <input formControlName="price" matInput type="number" placeholder="amount">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Comment </mat-label>
    <textarea formControlName="comment" matInput ></textarea>
  </mat-form-field>

   </form>

</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close> Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="add()" > {{actionBtn}}</button>
</div>