<div class="container" >
    <div style=" border: 1px solid;">
        <h1 mat-title style="text-align: center;">Forget Password</h1>
    <div mat-content>
       <form >
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    
       </form>
    
    </div>
    
    <div class="btn" mat-form-actions [align]="'end'">
      <!-- <button mat-raised-button color="warn" mat-dialog-close> Close</button> -->
      <button mat-raised-button color="primary" > reset password link</button> 
    </div>
    
    <a routerLink="../login" routerLinkActive="active" ariaCurrentWhenActive="page">back to login</a>
     
    </div>
    </div>
    
