<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginModel)">
          <formly-form [model]="loginModel" [fields]="loginFields"></formly-form>
          <div class="center margin-top">
            <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit" >Login</button> 
          </div>  
            <!-- <a routerLink="../forget-password" mat-raised-button color="secondary" class="center margin-top">Forget password</a> -->
            <span class="center margin-top">New to plateform<a routerLink="../signup" class="link">Sign Up!</a></span>
          </form>
      </div>
  </mat-card-content>
</mat-card>
