<mat-toolbar color="primary">
    <a routerLink="../admin/view" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>contacts</mat-icon>
    </a>
    
    <span style="margin-left: 10px;">Reactive Forms</span>
    <span class="example-spacer"></span>
    <a *ngIf="api.isTableActive" mat-raised-button  routerLink="../admin/view">Add Table</a>
    <!-- <a *ngIf="api.isGetActive" mat-raised-button  routerLink="../admin/view">get</a> -->

    <button style="margin-left: 30px;" mat-raised-button color="warn" (click)="logout()" >Log out</button>
  </mat-toolbar> 
 